/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.5.2017, 11:08:48
    Author     : Saarela
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    text-align: center;
    margin: 20px auto;
}

#main { background: #eee; }

#infotext {
    font-size: 16pt;
    text-align: center;
} 

table {
    border-spacing: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
}

table th {
    padding: 5px;
    text-align: left; 
}

td {
    padding: 5px;
    text-align: left;   
}
#firstRow{
    background-color: #64efef;
}

#header {
    height: 150px;
    background: #aaa;
}

#footer {
    bottom: 0px;
    height: 30px;
    width: 100%;
    clear: left;
    background: #aaa;
    padding-bottom: 15px;
}

#footerText {
    font-size: 10pt;
}

#mainColumn {
    height: 400px;
    width: 100%;
    float: left;
    background: #FFF;
}

#logo {
    height: 100px;
    width: 100px;
    float: left;
    margin-left: 30px;
}

#logoText {
    float: left;
    margin: 20px 0 0 70px;
    font-family: 'Georgia', Courier, monospace;
    font-size: 30px;
    color: #333;
    font-weight: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}


h2 {  
    font-size: x-large;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #aaa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #64efef;
}

#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width:  450px;
    width: 100%;
}
#button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#left{
    text-align: left;
    width: 60%;
    float: left;
}

#right{
    text-align: left;
    width: 30%;
    float: right;
}
